h1 Creative Clinics

p: strong The platform "Creative Clinics" helps with organizing various clinics that are held by design lecturers, assistants or students themselves.

h2 Scheduled Clinics
p These clinics are scheduled to take place soon. Please mark your attendance by clicking on "Attend".
.list = render @scheduled

h2 Proposed Clinics
p These clinics have been proposed by someone and need to be voted to become scheduled.
.list = render @proposed

h2 Requested Clinics
p These clinics have been requested by students and need to be voted to eventually beeing proposed.
.list = render @requested
