h1 Request a Clinic

p Request a clinic if you are interested in a certain topic and look for someone that could hold a clinic about it.

= render partial: 'clinics/form', locals: { clinic: @clinic, phase: :request }
