h1 Schedule a Clinic

p Schedule a Clinic directly if you already have a appointment and want to open the clinic to others.

= render partial: 'clinics/form', locals: { clinic: @clinic, phase: :schedule }
