@import "style"

.timeline
  background-color: #eee
  border-radius: 3px
  margin: 30px 0
  .horizon
    stroke: black
    stroke-width: 2px
  .dot
    fill: black
  .icon
    text-anchor: middle
    font: normal normal normal 14px / 1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    fill: $color
  .link
    fill: none
    stroke: black
    stroke-width: 2px
  .flag
    fill: $color
  .label
    fill: white
    font-size: 14px
