//= require normalize-css
//= require_tree .
//= require_self

$color: red

body
  font-family: 'Droid Sans', sans-serif
  font-size: 16px
  padding: 50px
  a
    color: $color
    text-decoration: none
    &:hover
      text-decoration: underline

.page
  max-width: 1000px
  margin: 0 auto

.nav
  list-style: none
  padding: 0
  margin: 50px 0
  li
    display: inline-block
    margin-right: 20px
    text-decoration: none

.list
  .clinic
    background-color: #eee
    padding: 20px
    margin: 5px 0
    border-radius: 3px
    overflow: hidden
    .left
      width: 70%
      float: left
    .right
      width: 30%
      float: right
      text-align: right
    .title
      display: inline-block
      font-size: 18px
    .action
      display: inline-block
      background-color: $color
      color: white
      text-decoration: none
      font-size: 14px
      padding: 2px 6px
      border-radius: 3px
      margin-right: 10px
      &:hover
        background-color: darken($color, 10%)
    .score
      display: inline-block
      font-weight: bold
      font-size: 18px

form
  ul
    list-style: none
    margin: 0
    padding: 0 !important
    li
      margin-bottom: 10px
      input[type="text"], input[type="email"], input[type="password"], textarea
        display: block
        font-size: 18px
        min-width: 500px
        font-family: monospace
        padding: 5px
        border: 1px solid black
        border-radius: 2px
      input[type="submit"]
        background-color: $color
        color: white
        border: 0
        padding: 5px 10px
        border-radius: 2px
        &:hover
          background-color: darken($color, 10%)
      label
        display: block
        margin-bottom: 3px
        abbr
          border: 0 !important
          padding-left: 3px
        input
          margin-right: 6px
      .inline-hints
        color: #999
      .inline-errors
        color: red

.detail
  .bade
    background-color: $color
    display: inline-block
    border-radius: 3px
    padding: 5px 10px
    color: white
    float: right
    font-size: 18px
    margin-top: 3px
  .description
    font-size: 18px
    margin-top: 50px
